<!doctype html>
<html>
<head>
<title>算薪资|跟老板叫板工资前先看看自己的身价吧！聘宝出品</title>
<meta name="keywords" content="算薪资|聘宝出品" />
<meta name="description" content="想算算自己的薪资吗？想窥视身边的TA薪资是多少吗？算薪资－－基于大数据 告诉你 “不能说的秘密”！" />
<meta name="format-detection" content="telephone=no">
<meta http-equiv="content-type" content="text/html; charset=utf-8"> 
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta http-equiv="pragma" content="no-cache">
<meta name="renderer" content="webkit">
<link rel="shortcut icon" href="/img/common/favicon.ico" />
<link href="css/reset.min.css" type="text/css" rel="stylesheet" />
<link href="css/sxz.min.css" type="text/css" rel="stylesheet" />
</head>
<body>

<div class="panel landing-page">
    <div class="land-title">
        <h1 class="logo"><img src="img/common/logo.png" alt="" width="100%"></h1>
        <p class="land-info"><img src="img/common/land_info.png" alt="" width="100%"></p>
        <p class="land-ad"><img src="img/common/land_ad.png" alt="" width="100%"></p>
    </div>
    <a href="javascript:;" class="i-oval" id="JS_start_btn"></a>
</div>


<script type="text/html" id="JS_background">
    <div class="stairs-wrapper">
        <img class="stars stars-animation" src="img/common/background.png">
        <img class="stars stars-animation-two" src="img/common/background.png">
        <img class="stars stars-animation-three" src="img/common/background.png">
    </div>
</script>

<script type="text/html" id="JS_sxz_0">
    <div class="content">
        <h2 class="select-title" style="top:30%;">正确的自我认识是第一步，你觉得自己是</h2>
        <p class="select-sex text-center">
            <a class="select-btn JS_choose_sex big-btn" data-sex="man">安静的美男子</a>
            <a class="select-btn JS_choose_sex big-btn" data-sex="woman">豪迈的萌妹子</a>
        </p>
    </div>
</script>

<script type="text/html" id="JS_sxz_3">
    <div class="content">
        <h2 class="select-title step-1">摸爬滚打了多少载？</h2>
        <div class="work-length clearfix">
            <a href="javascript:;" title="" data-workLength="1" class="select-btn JS_select_workLength big-btn">1-2年的小白</a>
            <a href="javascript:;" title="" data-workLength="1_3" class="select-btn JS_select_workLength big-btn">2-4年的鲜肉</a>
            <a href="javascript:;" title="" data-workLength="3_5" class="select-btn JS_select_workLength big-btn">4-8年的老鸟</a>
            <a href="javascript:;" title="" data-workLength="5" class="select-btn JS_select_workLength big-btn">8年以上的人精</a>
        </div>
    </div>
</script>

<script type="text/html" id="JS_sxz_4">
    <div class="content">
        <h2 class="select-title step-1">英雄莫问出处，学历这些都是浮云！我不问，你自己说</h2>
        <div class="work-length clearfix">
            <a href="javascript:;" title="" data-degree="bs" class="select-btn JS_select_degree big-btn">博士真学霸</a>
            <a href="javascript:;" title="" data-degree="ss" class="select-btn JS_select_degree big-btn">硕士学问家</a>
            <a href="javascript:;" title="" data-degree="bk" class="select-btn JS_select_degree big-btn">本科大法好</a>
            <a href="javascript:;" title="" data-degree="zk" class="select-btn JS_select_degree big-btn">专科逆袭王</a>
        </div>
    </div>
</script>

<script type="text/html" id="JS_sxz_5">
    <div class="content">
        <h2 class="select-title step-1">现在公司人数是多少？</h2>
        <div class="work-length clearfix">
            <a href="javascript:;" title="" data-scale="1-50" class="select-btn JS_select_scale big-btn">0-50人</a>
            <a href="javascript:;" title="" data-scale="50-100" class="select-btn JS_select_scale big-btn">51-100人</a>
            <a href="javascript:;" title="" data-scale="100-500" class="select-btn JS_select_scale big-btn">101-500人</a>
            <a href="javascript:;" title="" data-scale="500-1000000" class="select-btn JS_select_scale big-btn">500人以上</a>
        </div>
    </div>
</script>

<script type="text/html" id="JS_sxz_6">
    <div class="content">
        <h2 class="select-title step-1">这年头，新朋友认识不问问星座都不好意思聊天，那你是？</h2>
        <div class="job-list clearfix">
            <a href="javascript:;" title="" data-constel="by" class="select-btn select_constel small-btn">白羊座</a>
            <a href="javascript:;" title="" data-constel="jn" class="select-btn select_constel small-btn">金牛座</a>
            <a href="javascript:;" title="" data-constel="szi" class="select-btn select_constel small-btn">双子座</a>
            <a href="javascript:;" title="" data-constel="jx" class="select-btn select_constel small-btn">巨蟹座</a>
            <a href="javascript:;" title="" data-constel="sz" class="select-btn select_constel small-btn">狮子座</a>
            <a href="javascript:;" title="" data-constel="cn" class="select-btn select_constel small-btn">处女座</a>
            <a href="javascript:;" title="" data-constel="tc" class="select-btn select_constel small-btn">天秤座</a>
            <a href="javascript:;" title="" data-constel="tx" class="select-btn select_constel small-btn">天蝎座</a>
            <a href="javascript:;" title="" data-constel="ss" class="select-btn select_constel small-btn">射手座</a>
            <a href="javascript:;" title="" data-constel="mj" class="select-btn select_constel small-btn">摩羯座</a>
            <a href="javascript:;" title="" data-constel="sp" class="select-btn select_constel small-btn">水瓶座</a>
            <a href="javascript:;" title="" data-constel="sy" class="select-btn select_constel small-btn">双鱼座</a>
        </div>
    </div>
</script>

<script type="text/html" id="JS_sxz_7">
    <div class="content">
        <h2 class="select-title step-1">如果BOSS周末给你打电话，你第一反应是</h2>
        <div class="work-length clearfix">
            <a href="javascript:;" title="" data-an="1" class="select-btn JS_select_q1 big-btn" style="width:85%">妈蛋，肯定又让我加班！</a>
            <a href="javascript:;" title="" data-an="2" class="select-btn JS_select_q1 big-btn" style="width:85%">难道工作上出什么突发状况了？</a>
            <a href="javascript:;" title="" data-an="3" class="select-btn JS_select_q1 big-btn" style="width:85%">新发现一家不错的餐厅，相约一同前往</a>
        </div>
    </div>
</script>

<script type="text/html" id="JS_sxz_8_man">
    <div class="content">
        <h2 class="select-title step-1">晚上和女同事在微信聊天，对方说“我去洗澡了”，你觉得她</h2>
        <div class="work-length clearfix">
            <a href="javascript:;" title="" data-an="1" class="select-btn JS_select_q2 big-btn" style="width:85%">当然是去洗澡了啊</a>
            <a href="javascript:;" title="" data-an="2" class="select-btn JS_select_q2 big-btn" style="width:85%">大概不是很想聊天吧</a>
            <a href="javascript:;" title="" data-an="3" class="select-btn JS_select_q2 big-btn" style="width:85%">敷衍！肯定是跟高富帅@＃＊¥ ％……去了</a>
        </div>
    </div>
</script>

<script type="text/html" id="JS_sxz_8_woman">
    <div class="content">
        <h2 class="select-title step-1">同事今天上班提了一个山寨LV的包包，你会</h2>
        <div class="work-length clearfix">
            <a href="javascript:;" title="" data-an="4" class="select-btn JS_select_q2 big-btn" style="width:85%">善意地称赞</a>
            <a href="javascript:;" title="" data-an="5" class="select-btn JS_select_q2 big-btn" style="width:85%">默不作声，继续做自己的事情</a>
            <a href="javascript:;" title="" data-an="6" class="select-btn JS_select_q2 big-btn" style="width:85%">认真地说：“仿的还不赖，哪买的？”</a>
        </div>
    </div>
</script>

<script type="text/html" id="JS_result">
    <div class="content">
        <h5 class="text-center cbebebe" style="margin-top: 20%;">你当前的月薪应该是</h6>
        <h3 class="text-center ce96868" id="JS_current_salary">5500</h3>
        <h4 class="text-center cbebebe">跳槽后身价可能涨到</h4>
        <div class="next-year text-center clearfix" style="margin-top:10%;">
            <i class="i-rmb"></i>
            <span class="money clearfix" id="JS_next_salary"></span>
        </div>
        <p class="q-a text-center" style="margin-top: 10%;">薪资结果准不准？反馈后发现更多精彩！</p>
        <div class="text-center mt20" id="JS_accuracy">
            <a class="accuracy low" data-accuracy="-1"></a>
            <a class="accuracy almost" data-accuracy="0"></a>
            <a class="accuracy high"  data-accuracy="1"></a>
        </div>
        <a href="javascript:;" class="none" id="JS_more_result"></a>
    </div>
</script>

<script type="text/html" id="JS_footer_decorate">
    <div class="bottom-box">
        <div class="computer"><img src="img/common/computer.png" alt="" width="100%"></div>
        <div class="light"><img src="img/common/light.png" alt="" width="100%"></div>
    </div>
</script>
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/calculator.min.js?20150304"></script>
<script>
//统计
var _hmt = _hmt || [];
(function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?08c0cd3d1db455abadb00acc4d01f40f";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>